body{
	font-family: 'Montserrat',Heiti,Arial,sans-serif;
}
.navbar {
	background-color: rgba(255, 255, 255, 0.95);
	border-color: rgb(245, 0, 59);
	min-height: 60px;
	border-width:0 0 3px;
}
.navbar .active a {border-bottom: 3px rgb(245, 0, 59) solid;}
.navbar .navbar-brand {
	color:rgb(204, 0, 49);
	padding-top: 8px;
	font-size: 30px;
}
.navbar-default .navbar-nav > li > a {
	color: #000000;
}
.navbar-nav > li > a {
	padding-top: 19.5px;
	padding-bottom: 19.5px;
	font-size: 18px;
}
.navbar-brand {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	float: left;
	padding:0;
}
.navbar-form{
	margin-top: 13px;
	margin-bottom: 12px;
}
.navbar-toggle {
	background-color: #ADADAD;
	margin-top: 12px;
}
a {
	color:black;
}
footer{
	background-color: rgb(51, 51, 51);
	padding: 30px 30px;
}

footer .container p {
	color:white;
	padding:0;
	margin:0;
}
.sharp-border{border-radius: 0; }
.center-align{text-align: center;}
.orange-border{border-color: orange;}
.black-border{border-color: black;}
.form-group input { border-radius: 0;}
#language-line{ padding: 0px 15px; }
button { border-radius: 0 !important;}
footer .container p a {color:rgb(245, 0, 59); text-decoration: none; }
footer .container p a:hover{color:steelblue; text-decoration: none; }
footer .container p a:visited{color:rgb(245, 0, 59); text-decoration: none; }